/* .sidenav {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover{
    color: #f1f1f1;
} */

.main{
    margin-left: 160px;
    padding: 0px 10px;
}

.sidenav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }