{% extends "register/base.html" %}

{% load crispy_forms_tags %}

{#{% block page_script %}#}
{#    {% if messages %}#}
{#            {% for message in messages %}#}
{#                alert(message);#}
{#            {% endfor %}#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block page_title %}
About Us
{% endblock %}


{% block page_head %}
About Us
{% endblock %}


{% block content %}
<h3>What's Research Link</h3>
<br>
<img src="https://urop.ust.hk/sites/urop-prod.sites2.ust.hk/files/images/banner2_1.png" class="img-fluid">
<br>
<br>
<p class="text-align-justify"><strong>Research Link</strong> is a portal designed to provide
    undergraduate students with an exciting opportunity to engage in academic
    research, thereby helping them to develop insightful perspectives on their areas
    of interest and advance the frontiers of knowledge.&nbsp;</p>

<p class="text-align-justify">Launched in 2020, Research Link allows students to immerse
    themselves in a variety of tailor-made research projects under the supervision
    of world-class researchers.&nbsp;</p>

<p class="text-align-justify">Please explore this website to obtain up-to-date
    information on potential research opportunities and to learn how Research Link can provide
    you with a challenging and intellectually stimulating experience.</p>

{%  endblock %}