{% extends "register/base.html" %}

{% load crispy_forms_tags %}

{#{% block page_script %}#}
{#    {% if messages %}#}
{#            {% for message in messages %}#}
{#                alert(message);#}
{#            {% endfor %}#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block page_title %}
    Create a profile
{% endblock %}


{% block page_head %}
    Create a profile
{% endblock %}


{% block content %}
    {% if not user.is_authenticated %}
        <p>You are not logged in currently.</p>
        <p><a href="/login/" class = "bttn">Log In</a>  <a href="/register/" class = "bttn">Create Account</a></p>
    {% elif user.is_superuser %}
        <p>You are logged in as a superuser.</p>
        <p>Log out <a href="/logout/">here</a>.</p>
    {% else %}
        <p2>{{ msg }}</p2>
        <form method="post" action="#">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class = "bttn">Create profile now!</button>
        </form>
    {% endif %}

{%  endblock %}
