{% extends "register/base.html" %}

{% load crispy_forms_tags %}

{#{% block page_script %}#}
{#    {% if messages %}#}
{#            {% for message in messages %}#}
{#                alert(message);#}
{#            {% endfor %}#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block page_title %}
    Search
{% endblock %}


{% block page_head %}
    Advanced Search
{% endblock %}


{% block content %}
    {% if not user.is_authenticated %}
        <p>You are not logged in currently.</p>
        <p>Log in <a href="/login/">here</a> or create an account <a href="/register/">here</a>.</p>
    {% elif user.is_superuser %}
        <p>You are logged in as a superuser.</p>
        <p>Log out <a href="/logout/">here</a>.</p>
    {% elif identity == 'student' %}
        <p>Only professors can perform advanced search.</p>
    {% else %}
        <form method="get" action="#">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Search</button>
        </form>
        <hr />
        <div class="row">
            <ul>
                {% for profile in results %}
                    <li>
                        <span>NetId: {{ profile.netid }}</span>
                        <span>Name: {{ profile.name }}</span>
                        <span>GPA: {{ profile.gpa }}</span>
                        <span>Department: {{ profile.department }}</span>
                    </li>
                    <hr />
                {% endfor %}
            </ul>
        </div>



    {% endif %}

{#    <form method="post" action="#">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <button type="submit">Register</button>#}
{#    </form>#}
{%  endblock %}
